<a href="https://colab.research.google.com/github/gechri/ML-Imperial/blob/master/00_prerequisites/Welcome.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome

During the practical sessions of the course we are going to use [Python programming language](https://www.python.org) in the [Google Colab environment](https://colab.research.google.com).
 
 If you are new to Python, please consider reading through the following tutorial:
 - https://docs.python.org/3.6/tutorial/

In particular, the following parts of it should provide a more or less comprehensive introduction to the must-know basics:
   - https://docs.python.org/3.6/tutorial/introduction.html
   - https://docs.python.org/3.6/tutorial/controlflow.html
   - https://docs.python.org/3.6/tutorial/datastructures.html
   - https://docs.python.org/3.6/tutorial/modules.html

Alternatively, you may want to check out this resource: https://swaroopch.gitbook.io/byte-of-python/

An overview of basic features of the Google Colab environment can be found [here](https://colab.research.google.com/notebooks/basic_features_overview.ipynb).

# A few brief examples

In this section we're just throwing a few basic examples at you, without much explanation. Make sure you run the cells below. Try experimenting with these examples, modify them with different numbers, operations etc.

## Using python as calculator

In [ ]:
1 + 2

In [ ]:
5 * (3 - 1)

In [ ]:
2**3

In [ ]:
"Hello" + " " + "world"

## Comments

In [ ]:
# Anything after a '#' is a comment

## Variables

In [ ]:
a = 1
b = 2
c = a / b

print(a, b, c)

# Note that `c` has different type (float) compared to `a` and `b` (which are of integer type)
print(type(a), type(b), type(c))

In [ ]:
print(a == b)
print(a + 1 > b)
print(a + 1 >= b)
print(type(a + 1 > b))

## Loops and interables

In [ ]:
a = 0

while a < 10:
  a += 1
  print(a**2)

In [ ]:
a = [1, 2, 3, 'Hello']

for i in a:
  print(i, type(i))

print(type(a))

In [ ]:
a = []
for i in range(5):
  a.append(i)
print(a)

In [ ]:
a = []
for i in range(1, 20, 3):
  a.insert(0, i)
print(a)

## Functions

In [ ]:
def my_function(x):
  return x**2

# For such simple functions one may use lambdas:
my_lambda_function = lambda x: x**2

for i in range(5):
  print(my_function(i), my_lambda_function(i))

# A bit more comprehensive intro

In this section we'll show you a few more examples, now with a bit of explanation. Please run the cells and follow the instructions below.

### Basic types and operations

Now, let's start with defining some variables of basic types:

In [ ]:
# integers:
a1 = 1 # Define an integer variable named 'a1' of value 1
a2 = -42

# floats:
b = 1.0
c = .5
d = 8.
e = 1.2e3

print(a1, a2)
print(b)
print(c)
print(d)
print(e)

In [ ]:
# complex numbers:
c1 = 2 + 3j
c2 = 1/1j
print(c1)
print(c2)

In [ ]:
# strings
f1 = 'Hello!'
f2 = "Hi"
g = """Hi there!
I'm a multiline string!"""
h = 'foo' 'bar'
i = '"'"'"'"'"'""'"'"'"'"'"'

print(f1, f2)
print(g)
print(h)
print(i)

In [ ]:
# booleans
j = True
k = False
l = j == k

print(j, k, l)

In [ ]:
# In case you want to check variable type:
print(type(a1))
print(type(e))

In [ ]:
# YOUR CODE HERE
#  - print out the type of other variables we've defined above
#  - print out the type of 'print' function
#  - print out the type of 'type' function

In [ ]:
# Operations:
print(2 + 2)
print(2 - 2)
print(2 * 2)
print(1 / 2) # note that python is smart enough to convert integer to float here
print(7 // 3) # floor division
print(2019 % 100) # remainder of division
print(2**4) # exponentiation


a = 1
b = 2
# Some string operations and formatting:
print("Hello " + "world!")
print("%i + %i = %i" % (a, b, a + b))
print("{} + {} = {}".format(a, b, a + b))
print("{var_a} + {var_b} = {a_plus_b_result}".format(
    a_plus_b_result=a+b, var_a=a, var_b=b))
print("1 + 2 = %.4f" % (1 + 2))
print("1 + 2 = {:.4f}".format(1 + 2))

print("\n f-strings - very simple string formatting:")
print(f"{a} + {b} = {a + b}")
print(f"{a:.3f} + {b:.3f} = {a + b:.3f}")

Note that after a cell execution the value of the last expression will be printed out, so you don't always have to use the `print` function:

In [ ]:
a = 1
b = 2
a + b

Unless you finish a line with a semicolon:

In [ ]:
a + b;

We've defined a number of variables so far. Here's how you can list all of them (+ some internals of python):

In [ ]:
dir()

In general, one-letter variable names is a bad practice. It's preferable to give your variables meaningful names.

Let's get rid of all the variables we've defined by restarting the runtime. You can do this by clicking the `Runtime->Restart runtime...` menu item.

Now `dir()` should have gotten rid of these variables:

In [ ]:
dir()

Note: **Be careful with your variable names!** Python allows you to use the built-in function names for your variables, which can mess things up:

In [ ]:
print = False
print

At this point you can't use the `print` function for output:

In [ ]:
print(10)

One way of fixing this is to reset the runtime as we did before. Another way is to use the `del` statement:

In [ ]:
del print
print(10)

### Composite types

We'll start with lists - they represent arrays of objects:

In [ ]:
array1 = [1, 2, -3, 'hello', 4e5, 8j, False]
print(array1)
print(type(array1))

Addition means concatenation for lists:

In [ ]:
print(array1 + array1)

Another way of adding elements to a list (inplace) is by using the `append` method:

In [ ]:
array1.append('world')
array1

Lists can contain other lists:

In [ ]:
array2 = [[True, False], ['Hello'], 42]
array2

or even be recursive:

In [ ]:
array2.append(array2)
array2

Here's how you can index lists (indexing starts with 0):

In [ ]:
print(array1[0]) # first item
print(array1[-1]) # last item
print(array1[-2]) # one before last

You can also slice lists:

In [ ]:
print(array1[1:6:2]) # most general form - every 2nd element from 1 to 6
print(array1[2::3]) # elements from 2 to the end with step 3
print(array1[::2]) # every 2nd element starting from 0
print(array1[::-1]) # all list in reverse order
print(array1[2:5]) # elements from 2 to 5 (not including 5)
print(array1[-2:]) # last two elements of the list

A very similar type is called "tuple". Similarly to lists, tuples are arrays of objects. The major difference is that they are **immutable**.

In [ ]:
tuple1 = (1, 2, 'foo')
tuple2 = tuple(array2) # You can initialize tuples with lists and vice versa
print(tuple1)
print(tuple2)

Note that inner lists from `array2` are stored as lists within the `tuple2`, so they are mutable:

In [ ]:
tuple2[0].append(8)
print(tuple2)

Also note, that the first item in `array2` has changed as well:

In [ ]:
array2

This illustrates a very important feature of python: all objects are stored by reference. Since `tuple2` was initialized from `array2`, they both reference the same object instances.

You can check whether two variables are referencing the same object with `is` operator:

In [ ]:
print(array2[-1] is array2)
print(tuple2[0] is array2[0])

Two empty tuples created with `tuple()` expression will reference the same object:

In [ ]:
tuple() is tuple()

while two empty lists won't, since lists are mutable (and the two empty list instances may be changed in a different way):

In [ ]:
list() is list()

Another important type is dictionary. Dictionaries are key->value mappings with a restriction that keys can only be immutable objects.

Several ways to create and fill a dictionary:

In [ ]:
dict1 = {"foo" : 'bar', -3 : False}
dict2 = dict(foo='bar', hello='world')

print(dict1)
print(dict2)

Accessing elements:

In [ ]:
print(dict1[-3])
print(dict2['foo'])

dict2['new_key'] = 'new_value'
print(dict2)

### Loops, conditionals, functions

A loop over elements of a list:

In [ ]:
objects = [1, 2, 'hello', False]

for obj in objects:
  print(obj)
  # Note that the body of the loop is indented.

You can run `for` loop over any iterable (i.e. any object representing a collection of other objects, or, more technically, any object for which method `__iter__()` is defined). E.g. lists, tuples and dictionaries are all iterables.

Use the `range` function to iterate over spcified range of numbers:

In [ ]:
for i in range(5):
  print(i)

N.B.: `range` has more arguments. Place the cursor right after the opening bracket and hit **TAB**$^*$ to see help:

$^*$ *note: Colab has two layout versions - classic and new. The above TAB comment references the classic layout. In the new layout the help string is displayed after you type in the opening bracket `(` after the function name.*

In [ ]:
for i in range(# <--- press TAB (or erase and type back
               # in the opening bracket symbol in case
               # you're using the new Colab layout)
# YOUR CODE HERE:
# print all the numbers: 20, 23, 26... up to 60

Conditions:

In [ ]:
for i in range(100):
  if i % 7 == 1 and i % 5 == 3:
    print("i % 7 == 1 and i % 5 == 3:", i)
  if not (i > 3) or i > 98:
    print("not (i > 3) or i > 98:", i)

In [ ]:
array1 = [3, 15, 27, 42]
array2 = []

for i in range(30):
  if i in array1:
    array2.append(i**2)

print(array2)

Functions:

In [ ]:
# definition:
def some_function(argument1, argument2):
  print(argument1 + argument2)

# calls:
some_function(3, 8)
some_function(['foo'], ['bar'])

Arguments with default values:

In [ ]:
def some_function(argument1, argument2=42):
  print("{} ----- {}".format(argument1, argument2))

some_function(18)
some_function(18, 19)
some_function(argument2=19, argument1=18)

some_function(some_function)

Function returning a value:

In [ ]:
def square(x):
  return x**2

for i in range(4):
  print(square(i))

# Tasks

## Task 1

Now you should be equipped well enough to solve this famous job interview problem:



> Write a function called `FooBar` that takes input integer `n` and for all the numbers from 1 upto `n` prints in a new line:
*   "Foo", if the number is divisible by 3;
*   "Bar", if the number is divisible by 5;
*   "FooBar", if the number is divisible by both 3 and 5;
*   the number itself otherwise.

> For example FooBar(15) should print as follows: 
```1 
2 
Foo 
4 
Bar 
Foo 
7 
8 
Foo 
Bar 
11 
Foo 
13 
14 
FooBar
```

In [7]:
def Foobar(n):
  for i in range(2,n):
    if i==3 and n%3 == 0:print('Foo')
    elif i==5 and n%5 == 0:print('Bar')
    else: print(i)
  if  n%3 == 0 and  n%5 == 0:print('FooBar') 
  return
Foobar(15)    
Foobar(20)

2
Foo
4
Bar
6
7
8
9
10
11
12
13
14
FooBar
2
3
4
Bar
6
7
8
9
10
11
12
13
14
15
16
17
18
19

## Task 2

Write a function calculating the factorial of an integer number.

*Suggestion: use recursion.*

In [ ]:
# Your code here

## Task 3

Write a function that takes two numbers `m` and `n`, and a list `array`,  appends `m` to `array` `n` times, and returns the result.

In [ ]:
# Your code here

Modify the function you wrote such that the `array` argument is optional (the function should append to an empty list in case array is not provided).

*Hint: make sure the result is correct when you make several subsequent calls without providing the `array` argument.*

In [ ]:
# Your code here